.subcategory-list-item{'data-subcategory-id' => subcategory.id, id: "subcategory-#{subcategory.id}"}
  .thumbnail
    - if user_signed_in?
      .subcategory-handle
    .caption
      %h3.category-title
        = subcategory.name
        = edit_subcategory_dropdown(subcategory)
      .list-group.link-list.clearfix
        - subcategory.links.each do |link|
          = render_link link, type: :medium
