.subcategory-list-item{'data-subcategory-id' => subcategory.id}
  %h3
    = subcategory.name
    = edit_subcategory_dropdown(subcategory)
    - if user_signed_in?
      .subcategory-handle
  %ul
    - subcategory.links.each do |link|
      %li
        = render link
