- if promo_announcement
  .container
    .jumbotron
      %h2.announcement-header
        = promo_announcement.message
        %span.label.label-primary New
      %p
        = render_link promo_announcement.link, buttons: false, edit_button: true, share_button: false
