%span
  %a{href: link.url}= link
  = edit_link_button(link)
  %span.link-buttons
    = render partial: 'links/votes', locals: { link: link }
  - if !defined?(show_buttons) || show_buttons == true
    = render partial: 'links/link_buttons', locals: { link: link }
