%span
  %a{href: link.url}= (defined?(truncate_title) && truncate_title) ? truncate(link.to_s, length: truncate_title) : link
  = edit_link_button(link)
  %span.link-buttons
    = render partial: 'links/votes', locals: { link: link }
  - if !defined?(show_buttons) || show_buttons == true
    = render partial: 'links/link_buttons', locals: { link: link }
