- if user_signed_in?
  - if current_user.has_link?(link)
    = link_to delete_saved_link_path(link), method: :delete, class: 'link-star' do
      = glyphicon 'star'
  - else
    = link_to save_link_path(link), method: :post, class: 'link-star-empty' do
      = glyphicon 'star-empty'
