= set_title 'Reading list'

- if @links.empty?
  Your reading list is empty
- else
  .reading-list.col-lg-5.col-md-6.col-sm-8.col-xs-12
    - @links.each do |link|
      .link.reading-list-item
        = render link
