= set_title 'Reading list'

- if @links.empty?
  Your reading list is empty
- else
  .reading-list.col-md-10
    - @links.each do |link|
      .link.reading-list-item
        = render_link link, type: :medium
