.category-title {
    margin-top: 2px;
    margin-left: 2px;
}

.category-placeholder {
    @extend .drag-and-drop-placeholder;
}

.category-handle {
    @extend .grab-circle;
    position: absolute;
    margin-top: -$grab-circle-radius;
    right: 6px;
}

.edit-category-menu-button-group {
    margin-bottom: 6px;
}

.categories-grid {
    padding-top: 8px;
}

.hidden-category {
    color: #999 !important;
}

.jumbotron {
    text-align: center;
}

.category-grid-item {
    margin-bottom: 10px;
}

.search-bar {
    float: right !important;
}

.categories-tabs {
    margin-bottom: 40px !important;
}