$grab-circle-radius: 12px;

.grab-circle {
    border-radius: $grab-circle-radius;
    background-color: #888;

    width: $grab-circle-radius *2;
    height: $grab-circle-radius *2;
}

.drag-and-drop-placeholder {
    $border-width: 3px;
    border-style: dashed !important;
    border-width: $border-width !important;
    height: 100px;
}

.link-buttons {
    float: right;
}