$grab-circle-radius: 12px;

.grab-circle {
    border-radius: $grab-circle-radius;
    background-color: #888;

    width: $grab-circle-radius *2;
    height: $grab-circle-radius *2;
}

.drag-and-drop-placeholder {
    $border-width: 3px;
    border-style: dashed !important;
    border-width: $border-width !important;
    height: 100px;
}

.link-buttons {
    float: right;
}


$header-navbar-height: 100px;
$header-buttons-height: 50px;
$header-padding-top: $header-navbar-height - $header-buttons-height;

.navbar-logo {
    position: absolute;
    top: 0px;
    height: $header-navbar-height;
}

.header-bar {
    padding-top: $header-padding-top;
}

.image-spacer-hack {
    height: $header-navbar-height - $header-padding-top;
}

.log-in-dropdown.open > a {
    background-color: transparent !important;
}

.categories-tabs {
    height: 51px;
    padding-top: 9px;
}

.header-bar {
    margin-bottom: 0px !important;
}

.search-bar {
    margin-bottom: 8px !important;
}