.col-md-3.category-grid-item{id: "category-#{category.id}", 'data-category-id' => category.id}
  - if user_signed_in?
    .grab-circle
  .thumbnail
    .caption
      = link_to category do
        %h3.category-title= category.name
      %p
        %ul.links-list
          - category.links.each do |link|
            %li
              = render link
