- if @promo_announcement
  .jumbotron
    %h2.announcement-header= @promo_announcement.message
    %p
      = render partial: 'links/link', locals: { link: @promo_announcement.link, show_buttons: false }

- if admin_signed_in?
  .row
    .col-md-3
      %h4
        = link_to 'New Category', new_category_path, class: 'btn btn-default'

.categories-grid.sortable
  - categories.each do |category|
    = render category
