
- categories.each do |category|
  .col-md-3
    = link_to category.name, category
    %ul.links-list
      - category.links.each do |link|
        %li
          = render partial: 'link', locals: {link: link}
- if admin_signed_in?
  .col-md-3
    %strong
      = link_to 'New Category', new_category_path
