%ul.categories-tabs.nav.nav-tabs.col-md-8.col-sm-12

  - categories.each do |category|
    -#   <ul class="nav nav-tabs">
    -#   <li class="active"><a href="#">Home</a></li>
    -#   <li><a href="#">Profile</a></li>
    -#   <li><a href="#">Messages</a></li>
    -# </ul>
    %li{class: ('active' if current_category?(category))}
      = link_to category.name, category
  - if admin_signed_in?
    %li
      %a{href: new_category_path}
        %strong New
.clearfix.visible-xs
%ul.nav.nav-tabs.search-bar.col-md-4.col-sm-12
  = render 'layouts/search_field'
