%ul.categories-tabs.nav.nav-pills.col-md-8.col-sm-12

  - categories.each do |category|
    %li{class: ('active' if current_category?(category))}
      = link_to category.name, category, class: (category.hidden ? 'hidden-category' : '')
  - if admin_signed_in?
    %li
      %a{href: new_category_path}
        %strong New
.clearfix.visible-xs
%ul.nav.search-bar.col-md-4.col-sm-12
  = render 'layouts/search_field'
.clearfix
