.main-header
  %nav.navbar.navbar-default.header-bar{role: 'navigation'}
    .container-fluid
      .navbar-header
        %a{href: root_path}
          %img.navbar-logo(src="/assets/logo.png")
        .visible-xs
          .image-spacer-hack
      .header-wrapper
        #main-navbar-collapse
          %ul.nav.navbar-nav.navbar-right.navbar.header-buttons
            = render 'layouts/search_field'
            - if user_signed_in?
              %li
                %a{href: root_path} My Dashboard
              %li
                %a{href: reading_list_path} Reading list
            - if user_signed_in?
              %li
                %a{href: '#'}
                  = current_user.email
                  - if current_user.is_admin
                    (Admin)
            %li
              = render 'layouts/log_in_link'
