.main-header
  %nav.navbar.navbar-default.header-bar{role: 'navigation'}
    .container-fluid
      .navbar-header
        %a{href: root_path}
          %img.navbar-logo{src: image_path('logo.png')}
        .visible-xs
          .image-spacer-hack
      .header-wrapper
        #main-navbar-collapse
          %ul.nav.navbar-nav.navbar-right.navbar.header-buttons
            - if user_signed_in?
              %li
                %a{href: root_path} My Dashboard
              %li
                %a{href: reading_list_path} Reading list
            = render 'layouts/log_in_menu'
