%form.navbar-form.navbar-left{role: 'search', action: links_search_path, method: 'get'}
  .form-group
    %input.form-control{type: 'text', placeholder: 'Search', name: 'q'}
  %button.btn.btn-default{type: 'submit'} Search
